#profile {
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

#intro {
    height: 800px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#FC0004 0%, #000000 100%);
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 200;
}

#bio {
    padding: 50px;
    font-size: 30px;
    font-family: 'WindSong', cursive;
    text-align: center;
}

p {
    max-width: 490px;
    padding-left: 300px;
}

body {
    padding-top: 80px;
    background-color: #eed4ff;
}

.tab {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    background-color: antiquewhite;
    width: 100%;
    margin-top: 0px;
    z-index: 10px; 
    }

.links {
    font-size: 20px;
    padding-right: 25.10px;
    color: #130442;
    display: inline;
    padding-left: 33.9px;
}
.links : hover {
    color: #5F6969;
    text-decoration: underline;
    font-size: 25px;
}

#videos {
    text-align: center;
}

#works {
    text-align: center;
    }
#works a {
    text-decoration: underline!important;
    text-shadow: none !important;
    color: blue !important;
}
.article:hover {
    color: #1a002e;
}

.line {
    color: black;
    height: 6px;
    width: 70px;
    margin: 8px auto;
}
a{
    text-decoration: none;
    color: #631515;
    text-shadow: 2px 2px red;
}
#contact {
    background : beige;
    text-align: center;
    }
.contact1 a {
    color: white;
    text-shadow: none;
}
.contact1 h3 {
    display: inline;
}